<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.report.dao.QueryDAO">
	<select id="query" resultType="com.github.report.query.Result" parameterType="com.github.report.query.Query">
	</select>
</mapper>